.text {
	max-width: 1260px;
	padding: 0 20px;
	
	margin: 0 auto;
	margin-top: 60px;

	font-size: 18px;
	line-height: 27px;

	color: $black-color;

	&__bold {
		font-weight: bold;
	}
}

@media (max-width: 768px) {
	.text {
		max-width: 695px;
	}
}

@media (max-width: 376px) {
	.text {
		margin-top: 120px;
	}
}